{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}


{% block body %}
    <html lang="fr">
    <!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page d'accueil</title>
    </head>
    <body>
    {{ include('_Partials/_hero.html.twig') }}
    {{ include('_Partials/_sectionFilms.html.twig') }}
    </body>
    </html>
{% endblock %}
